<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'KiwiSports' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>fcd9d948-ffbd-45eb-9c2e-306493de3673</InstrumentationKey>
</ApplicationInsights>