<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="" Publisher="" Version="1.1.1.0" />
  <Properties>
    <DisplayName>Kiwi Sports</DisplayName>
    <PublisherDisplayName>Clyde D'Souza</PublisherDisplayName>
    <Logo>Assets\Store50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="KiwiSports.App">
      <m2:VisualElements DisplayName="Kiwi Sports" Square150x150Logo="Assets\Store150x150.png" Square30x30Logo="Assets\Store30x30.png" Description="Follow your favourite teams using Kiwi Sports- your all-in-one App for New Zealand’s 3 most popular sports teams- the New Zealand national men's rugby union team, officially nicknamed the All Blacks, the New Zealand national netball team, commonly known as the Silver Ferns, representing New Zealand in international netball and the New Zealand cricket team, nicknamed the Black Caps, are the national cricket team representing New Zealand." ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="Kiwi Sports" Square310x310Logo="Assets\Store310x310.png" Wide310x150Logo="Assets\WideLogo310x150.png" DefaultSize="square150x150Logo" Square70x70Logo="Assets/Store70.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\Splash100.png" BackgroundColor="#464646" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>